h1 {
  height: 1200px;
}

.js-scroll .backgroundbar {
  opacity: 1;
  fill: #ededed;
}

.mainbar {
  fill: #39b2b1;
}

.text {
  fill: #fff;
}

.darkbar {
  fill: #c9c9c9;
}

.low-opacity-text {
  opacity: 0.5;
}

.js-scroll {
  opacity: 0;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled .slide-left {
  animation: slide-in-left 2s;
}

.scrolled .slide-left-far {
  animation: slide-in-left-far 2.2s;
}

.scrolled .pop-up {
  animation: pop-up 2.3s;
}
.scrolled .pop-up-late1 {
  animation: pop-up 2.5s;
}

.scrolled .pop-up-late2 {
  animation: pop-up 2.7s;
}

.scrolled .pop-up-late3{
  animation: pop-up 2.9s;
}

svg {
  margin-bottom: 10em;
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left-far {
  0% {
    -webkit-transform: translateX(-700px);
    transform: translateX(-700px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes pop-up {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 0;
    transform: translateY(20px);
  }
  97% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 100;
    transform: translateY(0px);
  }
}
